//imports
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Poiret+One);

//custom
/*.columns {
  border: 10px solid red;
  }*/

//Custom Style#1
row {
	background: #f00;
}

//adapted from examples
footer {
	margin: 1em 0 ;
	padding: 1em 0;
	border-top: 1px solid #999;
	color: #999;
	text-align: center;
}



